<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="backSimulatorForBadDriver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="username" value="*****"/>
    <add key="password" value="*****"/>
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="smtpPort" value="587"/>
    <add key="enableSsl" value="true"/>
    <add key="databaseConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=baddriver;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <!-- folder to save photos -->
    <add key="folderUploadPhotos" value="C:\"/>
    <!-- 0-Incident ID | 1-Photo ID -->
    <add key="folderDriverPhotos" value="C:\driver\photos\{0}\{1}\"/>
    <add key="folderEmailTemplate" value=""/>
  </appSettings>
  <applicationSettings>
    <backSimulatorForBadDriver.Properties.Settings>
      <setting name="backSimulatorForBadDriver_Baddriver_APIv1_APIv1"
        serializeAs="String">
        <value>http://localhost:59734/APIv1.asmx</value>
      </setting>
    </backSimulatorForBadDriver.Properties.Settings>
  </applicationSettings>
</configuration>